@using WEB.Models

@{
    ViewBag.Title = "Application";
    var data = (EsuperfundUserModels)ViewBag.data;
}
@section headPart
{
        <style>
        .form_key
        {
            width: 260px;
        }
    </style>
}
@section maincontent
{
    <div class="form_client">
       <img src="~/Images/TermDepositContent.jpg" />
    </div>
    <div id="divMain" style="margin-top: 30px;">
       
    </div>
}
